h1{
    text-align: center;
}

h2{
    font-weight: 500;
}

#del-btn{
    box-sizing: border-box;
    padding: 0.3em 0.5em;
    background-color: aliceblue;
    border: 1px solid red;
    border-radius: 15px;
    transition: background-color 0.5s ease;
}

#del-btn:hover{
    cursor: pointer;
    background-color: red;
    color: white;
}

.main-page{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.wrapper{
    width: 65vw;
}

#post-container{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
}

.admin-container{
    flex-direction: column;
}

#del-btn{
    display: flex;
    margin: 10px;
}

.post-item{
    flex-basis: 40%;
    background-color: aliceblue;
    margin: 1rem;
    padding: 20px;
}

#form-container form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    margin: 50px;
}

#form-container input{
    padding: 12px 20px;
    box-sizing: border-box;
    width: 500px;
    height: 50px;
    margin: 0.25rem;

}

#form-container textarea{
    resize: none;
    width: 500px;
    padding: 20px;
    box-sizing: border-box;
}

#form-container #content{
    height: 200px;
}

#create-btn{
    margin: 25px;
    padding: 10px 20px;
    background-color: dodgerblue;
    border: none;
    box-sizing: border-box;
    transition: background-color 0.5s ease;
    color: black;
}

#create-btn:hover{
    cursor: pointer;
    background-color: lightblue;
}

#form-container label{
    vertical-align: top;
    font-size: 1.5em;
}

.input-block{
    display: flex;
    flex-direction: column;
}