*{
    margin: 0;
    padding: 0;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
}

#nav a{
    text-decoration: none;
    color: black;
}

#nav a:hover{
    color: RebeccaPurple;
}

#nav{
    display: flex;
    margin-bottom: 5vh;
    justify-content: space-around;
    align-items: center;
    background-color: dodgerblue;
    height: 50px;
}

#nav li{
    margin: 10px;
}