h1{
    text-align: center;
}

h2{
    font-weight: 500;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
}

#nav{
    display: flex;
    justify-content: center;
    align-items: center;
}

#nav li{
    margin: 10px;
}

#form-container form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#form-container input{
    width: 30%;
    margin: 0.5rem;
}

#post-container{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
}

.admin-container{
    flex-direction: column;
}

.main-page{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#del-btn{
    display: flex;
    margin: 10px;
}

.post-item{
    flex-basis: 40%;
    border: 2px solid black;
    margin: 1rem;
}

.wrapper{
    width: 65vw;
}